// Color Palettle
/*
    Title bar will be sort of violet
    All text remain white
    Background : pastel gray 
    All gradients : Muted and darker
    Primary-dark  = 2c2828
    Secondary-dark-violet = 3b2c85
    Third COlor = 219897
    Fourth Color = 85cfcb

*/

.title-dark{
    background-color: #3b2c85;
    color: white;
}
.body-dark{
    background-color: #2c2828;
}
.show-menu-dark{
    background-color: #000;
}