// Color Palettle
/*
    Title bar will be sort of violet
    All text remain white
    Background : pastel gray 
    All gradients : Muted and darker
    Primary-dark  = 2c2828
    Secondary-dark-violet = 3b2c85
    Third COlor = 219897
    Fourth Color = 85cfcb

*/

.title-dark{
    background-color: rgb(55,55,55);
    color: white;
}
.body-dark{
    background-color: #2c2828;
}
.show-menu-dark{
    background-color: #000;
}
.wind-speed-dark{
    background-color: #E9F7EA !important;
    box-shadow: -3px 11px 50px 5px rgba(213,217,213,1);
    
}

.humidity-pc-dark,.wind-speed-pc-dark,.precipitation-pc-dark{
    text-align: center;
    font-size: 1rem;
    font-family: 'Product Sans',sans-serif;
    margin: 5px auto;
}
.precipitation-dark{
    box-shadow: -3px 11px 50px 5px rgba(213,217,213,1);
    background-color: #E6F1F3;
}