// Color Palettle
/*
    Title bar will be sort of violet
    All text remain white
    Background : pastel gray 
    All gradients : Muted and darker

*/

.title-dark{
    background-color: #131231;
    color: white;
}