// Typography
// 1. Nunito
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap');
// 2. Product Sans
@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  }
// 2. Color palette
  :root{
      --main-bg-color:#eaf0f5;
      --orange-color:#ec991a;
      --gray-color:#d0c2b6;
      --dark-orange:#dd700f;
      --light-orange-color:#e1a65e;
      --pink-color:#577cbf;
      --dark-red:#a95121;
      --blue-color:#3265f1;
      --clear-sky:linear-gradient(19deg, #91ebff 0%, #8c34ff 100%);
      --night-sky:linear-gradient(182deg, #373298 0%, #092222 100%);
      --haze-sky: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
      
  }

// Global Settings 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 10px;
}
.title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    // border: 1px solid red;
    // box-shadow: -1px 11px 41px -2px rgba(232,232,232,0.57);
    h2{
        padding-top: 1rem;
        padding-bottom: 1rem;;
        text-transform: uppercase;
        font-family: 'Product Sans',sans-serif;
        font-size: 2.5rem;
    }
}
.location{
    display: flex;
    padding: 3rem 2rem;
    flex-direction: column;
    // border: 1px solid #f7f7f7;
    max-width: 90%;
    margin: 0 auto;
    background-color: #ffffff;
background-image: linear-gradient(182deg, #94e5ff 100%,#ffffff 10%);

    border-radius: 10px;
    .city,.country,.date,.location-icon{
        margin: .3rem 1.6rem;
    }
    .location-icon{
        font-size: 1.6rem;
    }
    .city{
        font-size: 1rem;
        text-transform: uppercase;
        font-family: 'Product Sans';
    }
    .country{
        font-size: 0.8rem;
        text-transform: uppercase;
        font-family: 'Product Sans';
    }
    .date{
        font-size: 0.7rem;
        text-transform: uppercase;
        font-family: 'Product Sans';
        letter-spacing: 2px;
        color:gray;
        margin-top: 0.6rem;
    }
}
.notification{
    max-width: 900px;
    width: 90%;
    margin: 0 auto;
    height: 2rem;
    margin: 1rem auto;
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid #f7f7f7;
    // box-shadow: 0px 11px 18px 5px rgba(240,240,240,1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    font-family: 'Product Sans',sans-serif;
    color: var(--dark-red);
}
.container{
    background-color: #21D4FD;
    background: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    color: white;
    box-shadow: 0px 11px 18px 5px rgba(183,33,255,0.15);
    max-width: 900px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    // testing
    margin: 0 auto;
    align-items: center;
    .day{
        font-size: 2rem;
        font-family: 'Product Sans',sans-serif;
        font-weight: 600;
        padding: 2rem ;
    }
    .weather-container{
        display: flex;
        align-items: center;
        font-family: 'Product Sans',sans-serif;
        
        .temperature-value{
            font-size: 3rem;
            margin: 0 2rem;
            font-style: 700;
            h1{
                font-size: 1.6rem;
            }
        }
    }
    .temperature-description{
        font-size: 1.4rem;
        padding: 2rem;
        font-family: 'Product Sans',sans-serif;
        text-transform: capitalize;
    }
}
.temperature-details{
    font-size: initial;
    .row-details-1{
        display: flex;
        .min-temp-title, .max-temp-title{
            margin: 1rem;
            margin-left: 0;
        }
    }  
    .row-details-2{
        display: flex;
        .min-temp-value, .max-temp-value{
            margin: 0 1rem;
            margin-left:0;
        }
    } 
}
.weather-conditions-indicator{
    display: flex;
    justify-content: space-between;
    margin: 4rem 2rem;
    margin-bottom: 2rem;
    .icon{
        font-size: 2rem;
        padding: 1.6rem 2.3rem;
        border-radius: 10px;
    }
    .wind-speed{
        background-color: #E9F7EA;
        box-shadow: -3px 11px 50px 5px rgba(213,217,213,1);
    }
    .humidity{
        background-color: #E7EFF1;
        display: flex;
        flex-direction: column;
        box-shadow: -3px 11px 50px 5px rgba(220,226,227,1);
        
    }
    .humidity-pc,.wind-speed-pc,.precipitation-pc{
        text-align: center;
        font-size: 1rem;
        font-family: 'Product Sans',sans-serif;
        margin: 5px auto;
    }
    .precipitation{
        box-shadow: -3px 11px 50px 5px rgba(213,217,213,1);

        background-color: #E6F1F3;
    }
}
.weather-conditions-text{
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    margin: 0 4.9rem;
    margin-bottom: 2rem;
    font-family: 'Product Sans';
}
// Gradient Animation !
.container
    {
        background: var(--clear-sky);
        background-size: 400% 400%;
        -webkit-animation: AnimationName 7s ease infinite;
        -moz-animation: AnimationName 7s ease infinite;
        -o-animation: AnimationName 7s ease infinite;
        animation: AnimationName 7s ease infinite;
    }
    @-webkit-keyframes AnimationName {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @-moz-keyframes AnimationName {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @-o-keyframes AnimationName {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @keyframes AnimationName {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
