/*Media Queries for Section 2*/
/*Hero Section Styles*/
@import url("https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&display=swap");
.section1 {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
}

.section1 .hero-title {
  font-size: 5rem;
  margin-bottom: 2rem;
}

.section1 .hero-subtitle {
  font-size: 3.5rem;
  margin-bottom: 2rem;
  position: relative;
}

.section1 .hero-subtitle::before {
  content: '';
  height: 5px;
  width: 7rem;
  bottom: 0;
  right: 5px;
  border-radius: 3px;
  background-color: yellow;
  position: absolute;
}

/*Chevron Animation*/
.chevron {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fa-chevron-down {
  margin: 0 auto;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  font-size: 4rem;
  color: white;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

.bounce-3 {
  -webkit-animation-name: bounce-3;
          animation-name: bounce-3;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

@-webkit-keyframes bounce-3 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  30% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounce-3 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  30% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

/*Section 3 : Projects*/
.section3 {
  display: -ms-grid;
  display: grid;
  height: auto;
  -ms-grid-rows: 12rem auto;
      grid-template-rows: 12rem auto;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  background-color: #E8EAEE;
}

.project-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem 3rem;
  width: 80%;
  margin: auto;
  margin-top: 7rem;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 7px;
  -webkit-box-shadow: 0 3px 0 rgba(84, 94, 111, 0.2);
          box-shadow: 0 3px 0 rgba(84, 94, 111, 0.2);
  background-color: #F1F2F5;
  margin: 4rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.card .image-container-card img {
  border-radius: 7px;
}

.card .project-title {
  margin: 2rem;
  text-align: center;
  font-size: 2.5rem;
}

.card .project-description {
  margin: 2rem;
  font-size: 1.4rem;
}

.card .btn-container-card {
  margin: 2rem auto;
}

.card .buttons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card .buttons span {
  margin: 2rem;
  padding: 1rem;
  border-radius: 10px;
  cursor: pointer;
  background-color: #E8EAEE;
}

.card .buttons i {
  font-size: 2.5rem;
}

/*Section 2 : About Me*/
.section-2 {
  background: url(../../../hamburger-menu/assets/img/color-shape.png);
  height: auto;
}

.section-title {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  text-align: center;
  margin: 6rem auto;
  font-size: 4rem;
  position: relative;
}

.section-2 .card {
  height: 100%;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.4fr 0.6fr;
      grid-template-columns: 0.4fr 0.6fr;
}

.section-2 .box-image {
  background-color: lightcyan;
}

.section-2 .box-image img {
  width: 60%;
  border-radius: 50%;
  display: block;
  margin: 3rem auto;
}

.section-2 .box-text .text-content-about {
  color: #737C8A;
  font-size: 2rem;
}

.about-heading-row {
  height: 8rem;
}

.about-heading-row h1 {
  font-family: 'Herr Von Muellerhoff', cursive;
  font-size: 8rem;
  color: #545E6F;
}

.about-heading-row .quote {
  font-size: 5rem;
  margin-right: 4rem;
  margin-left: 3rem;
}

/*Color Palettle
1. #F1F3F5*/
.section5 {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 12rem auto;
      grid-template-rows: 12rem auto;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  background-color: #F1F3F5;
  background-color: #f0f0f1;
  height: auto;
  padding-bottom: 7rem;
}

.contact-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  margin-top: 7rem;
  width: 90%;
  margin: 0 auto;
}

.form-container {
  background-color: #fff;
  -webkit-box-shadow: 0 3px 0 rgba(84, 94, 111, 0.2);
          box-shadow: 0 3px 0 rgba(84, 94, 111, 0.2);
  border-radius: 15px;
  margin: 7rem 7rem;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-container form {
  margin: 2rem 4rem;
}

.form-label {
  color: #545e6f;
  font-size: 1.7rem;
  display: block;
  margin-top: 3rem;
}

.form-input {
  color: #545e6f;
  border: 0;
  font-family: 'Geomanist',sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  color: #545e6f;
  width: 100%;
  outline: none;
  border-radius: 5px;
  padding: 0 14px;
  -webkit-box-shadow: inset 0 2px 0 rgba(84, 94, 111, 0.2);
          box-shadow: inset 0 2px 0 rgba(84, 94, 111, 0.2);
  background: #f8f9f9;
  height: 42px;
}

.text-area {
  height: 12rem;
  resize: none;
  line-height: 16px;
  padding-top: 14px;
  padding-bottom: 14px;
}

.form-submit {
  margin-top: 2rem;
}

.social-media-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 7rem;
}

.social-media-container h1 {
  font-size: 1.9rem;
  margin: 2rem 0;
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-media .card {
  margin: 0 3rem;
  padding: 1rem;
  cursor: pointer;
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
}

.social-media .card i {
  font-size: 2rem;
  color: white;
}

.card:hover {
  -webkit-transform: translate(0, -2px);
          transform: translate(0, -2px);
}

.github-card {
  background-color: #211F1F;
}

.instagram-card {
  background-color: #C13584;
}

.linkedin-card {
  background-color: #0077B5;
}

.twitter-card {
  background-color: #1DA1F2;
}

.footer-container {
  text-align: center;
  padding: 3rem;
  background-color: #131231;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.footer-container p, .footer-container i {
  color: white;
  font-size: 1.7rem;
}

/*Colors 
1. #e7f5ff
2. #f8f0fc
3. #fff9db
4. Text Color == #4e565d
5.#f8f0fc*/
.section4 {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 12rem auto;
      grid-template-rows: 12rem auto;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  background: url(../../hamburger-menu/assets/img/3.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: auto;
  padding-bottom: 7rem;
}

.works-container {
  color: #4e565d;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem 3rem;
  width: 80%;
  margin: auto;
  margin-top: 7rem;
}

.works-container:hover {
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
}

.icon-holder i {
  font-size: 3rem;
  margin: 2rem 0;
  margin-left: 2rem;
}

.group-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #e7f5ff;
  padding: 2rem;
}

.group-top h2 {
  font-size: 2.5rem;
  margin: 1rem 2rem;
}

.tech-stack {
  background-color: #dbe9f2;
}

.tech-stack p {
  padding: 2rem;
  font-size: 1.5rem;
  text-align: center;
}

.bg-color-1 {
  background-color: #e6fcf5;
}

.bg-color-1-1 {
  background-color: #daefe9;
}

.bg-color-2 {
  background-color: #fff9db;
}

.bg-color-2-2 {
  background-color: #f2ecd0;
}

/*0. Global Styles*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Geomanist", sans-serif;
  font-size: 10px;
  scroll-behavior: smooth;
}

img {
  width: 100%;
}

/*1. Typography*/
@font-face {
  font-family: Geomanist;
  src: url("../assets/fonts/geomanist/geomanist-book.woff2") format("woff2");
}

@font-face {
  font-family: Geomanist-light;
  src: url("../assets/fonts/geomanist/geomanist-light.woff2") format("woff2");
}

/* 2. Color Palettle Goes Here*/
/*Section Background-1 : #F1F2F5
  btn-primary bg = #24b373
*/
/*3. Buttons Style*/
.btn {
  padding: 1.3rem 3rem;
  outline: none;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  border: none;
  border-radius: 42px;
  color: white;
  font-family: "Geomanist", sans-serif;
  font-size: 2rem;
  text-decoration: none;
}

.btn-sm {
  padding: 1rem 2.5rem;
}

.btn:hover {
  -webkit-transform: translate(0, -2px);
          transform: translate(0, -2px);
}

.btn-hero {
  background: #24b373;
  -webkit-box-shadow: inset 0 -2px 0 #1b8958;
          box-shadow: inset 0 -2px 0 #1b8958;
}

.container {
  width: 100%;
  height: 100vh;
  background-image: url(../assets/img/bg2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/*Hamburger Menu*/
.nav-bar {
  position: fixed;
  background-color: #122;
  top: 0;
  left: -40rem;
  height: 100vh;
  width: 40rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
  z-index: 1500;
}

.toggle {
  left: 0;
  -webkit-box-shadow: 1px 0 15px 2px rgba(0, 0, 0, 0.4);
          box-shadow: 1px 0 15px 2px rgba(0, 0, 0, 0.4);
}

.toggle-menu {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 2rem;
  left: 2rem;
  width: 4rem;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
}

.line {
  width: 100%;
  height: 4px;
  border-radius: 5px;
  background-color: #fff;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.toggle .line1 {
  background-color: #e73c7e;
  -webkit-transform: scale(0.9) rotateZ(-45deg) translate(-6px, 4px);
          transform: scale(0.9) rotateZ(-45deg) translate(-6px, 4px);
}

.toggle .line2 {
  display: none;
}

.toggle .line3 {
  background-color: #e73c7e;
  -webkit-transform: scale(0.9) rotateZ(45deg) translate(-6px, -4px);
          transform: scale(0.9) rotateZ(45deg) translate(-6px, -4px);
}

.toggle .toggle-menu {
  background-color: white;
}

.nav-list {
  list-style: none;
}

.nav-list-item {
  text-align: center;
  padding: 1rem 0;
}

.nav-link {
  color: #fff;
  font-size: 2.2rem;
  text-decoration: none;
  position: relative;
  padding-bottom: 0.4rem;
}

.nav-link::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.nav-link:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.nav-desktop {
  display: none;
}

@media (min-width: 1000px) {
  .nav-bar {
    display: none;
    pointer-events: none;
  }
  .nav-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 3rem 9rem;
    color: white;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(transparent));
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent);
  }
  .logo {
    font-size: 2rem;
    font-family: "Geomanist", sans-serif;
  }
  .nav-list-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    font-size: 1.6rem;
    font-family: "Geomanist", sans-serif;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-list-item-desktop a {
    text-decoration: none;
    color: inherit;
  }
  .nav-list-item-desktop {
    margin: 0 4rem;
  }
}

/*Navbar Desktop Animation*/
.nav-list-item-desktop:hover {
  color: #b6aaaa;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/*MEDIA QUERY HELL*/
@media only screen and (max-width: 700px) {
  .section1 {
    margin: 0 auto;
  }
  .section1 .hero-title {
    font-size: 4.5rem;
  }
  .section1 .hero-subtitle {
    font-size: 3rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
  }
  .section1 .hero-subtitle::before {
    width: 6rem;
  }
  .section-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-title {
    margin: 6rem auto;
  }
  .section-title::before {
    bottom: 0px;
    right: -5px;
  }
}

/*For Section 3*/
@media only screen and (max-width: 700px) {
  .section3 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    width: 100%;
  }
  .section3 .section-title {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    margin: 6rem auto;
  }
  .section3 .section-title::before {
    top: 45px;
  }
  .section3 .project-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: none;
        grid-template-columns: none;
    margin-top: 0;
    width: 100%;
  }
}

/*Section 4 Media Queries*/
@media only screen and (max-width: 700px) {
  .section4 h1 {
    margin: 6rem auto;
  }
  .section4 .section-title::before {
    top: 4.5rem;
    right: 1rem;
  }
  .works-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: none;
        grid-template-columns: none;
    margin-top: 0;
    margin-right: auto;
  }
  .work-card {
    margin: 3rem auto;
  }
}

/*Section 5 Media Queries*/
@media only screen and (max-width: 700px) {
  .section5 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form-container {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .social-media .card {
    margin: 0 2rem;
  }
}
/*# sourceMappingURL=style.css.map */