@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&display=swap");
@font-face {
  font-family: GothamPro;
  src: url(../assets/img/GothamPro.woff) format("woff");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  /* Define Colors as colors */
  --green:#00ebc7;
  --red:#ff5470;
  --yellow:#fde24f;
  --black:#1b2d45;
  --darkBlue:#00214d;
  --grey:#bfbfbf;
  --lightGrey:#f2f4f6;
  --white:#fff;
  /* Define Colors as intensions */
  --primary:var(--green);
  --danger:var(--red);
  --background:var(--lightGrey);
  --textColor:var(--black);
  --lineColor:var(--grey);
  --cardBg:var(--white);
  /* Styles */
  --line:solid 1px var(--lineColor);
  /* Type */
  --headingFont:"Space Mono",monospace;
  --bodyFont:"Work Sans", sans-serif;
  --baseFontSize:100%;
  --h1:3.052em;
  --h2:2.441em;
  --h3:1.953em;
  --h4:1.563em;
  --h5:1.25em;
  --smallText:0.8em;
  /* Elevation */
  --level-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --level-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --level-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --level-4:0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  /* Positioning  */
  --containerPadding:2.5%;
  --headerHeight:3rem;
}

html {
  font-size: var(--baseFontSize);
}

body {
  font-family: var(--bodyFont);
  background: var(--background);
  color: var(--textColor);
}

h1,
h2,
h3,
h4,
h5 {
  margin: 2.75rem 0 1.05rem;
  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1.15;
}

h1 {
  margin-top: 0;
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}

small,
.text-small {
  font-size: var(--smallText);
}

p {
  margin-bottom: 1.15rem;
  max-width: 40em;
}

a {
  text-decoration: none;
}

p a, blockquote a {
  color: var(--black);
  text-decoration: none;
  background: var(--cardBg);
  border-bottom: solid 2px var(--primary);
}

/* End TypeScale */
button {
  --buttonColor:var(--primary);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: var(--textColor);
  background-color: var(--buttonColor);
  border: none;
  padding: 0 var(--containerPadding);
  border-radius: 10px;
  padding: 5px 25px;
  -webkit-box-shadow: var(--level-1);
          box-shadow: var(--level-1);
  font-family: var(--bodyFont);
  -webkit-transition: 0.1s ease-in-out box-shadow;
  transition: 0.1s ease-in-out box-shadow;
}

button:hover {
  -webkit-box-shadow: var(--level-4);
          box-shadow: var(--level-4);
}

header {
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: var(--level-3);
          box-shadow: var(--level-3);
}

header nav {
  font-family: "Gotham Pro",system;
  font-weight: bold;
  font-size: 2.5rem;
}

header nav a {
  color: black;
}

li {
  list-style: none;
}

.text-box {
  border: 1px solid #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 700px;
  margin: 3rem auto;
  margin-bottom: 0;
  padding: 2rem;
  font-family: 'Roboto Mono', monospace;
  border-radius: 20px;
}

.text-box h3 {
  margin: 0;
  font-family: 'Gotham Pro', system;
  font-weight: 500;
  margin-bottom: 1rem;
}

.text-box p {
  font-size: var(--h4);
}

.container {
  max-width: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--green);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem auto;
  border-radius: 20px;
  -webkit-box-shadow: var(--level-1);
          box-shadow: var(--level-1);
  padding: 1rem;
}

.container p {
  font-size: var(--h4);
  font-family: 'Gotham Pro', system;
  font-weight: bold;
  margin-bottom: 0;
}

.text-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 700px;
  margin: 0 auto;
}

textarea {
  border: 3px solid #ccc;
  border-radius: 4px;
  width: 100%;
  padding: 1.5rem;
  resize: none;
  overflow: hidden;
  font-size: var(--h2);
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 700px;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px;
}

.buttons button {
  padding: 1rem 1.7rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  color: white;
  font-size: var(--h4);
  font-family: "Gotham Pro",system;
  font-weight: 500;
}

.btn-danger {
  background-color: var(--danger);
}

.notification {
  color: var(--red);
}

footer {
  color: var(--lightGrey);
  color: var(--black);
  text-align: center;
}

footer h5 {
  margin: 0;
}
/*# sourceMappingURL=main.css.map */