/*Color Palette*/
@font-face {
  font-family: Geomanist;
  src: url(/dark-mode/src/fonts/geomanist/geomanist-book.woff2);
}
@font-face{
    font-family: Geomanist-light;
    src: url(/dark-mode/src/fonts/geomanist/geomanist-light.woff2);
}
:root {
  --primary-color: rgb(255, 92, 92);
  --primary-variant: #ff2d2d;
  --secondary-color: #1b9999;
  --on-primary: rgb(250, 250, 250);
  --on-background: rgb(66, 66, 66);
  --on-background-alt: rgba(66, 66, 66, 0.7);
  --background: rgb(255, 255, 255);
  --box-shadow: 0 5px 20px 1px rgba(0, 0, 0, 0.5);
}

[data-theme="dark"] {
  --primary-color: rgb(150, 65, 255);
  --primary-variant: #6c63ff;
  --secondary-color: #03dac5;
  --on-primary: #000;
  --on-background: rgba(255, 255, 255, 0.9);
  --on-background-alt: rgba(255, 255, 255, 0.7);
  --background: #121212;
}
* {
  margin: 0;
  padding: 0;
  
}
html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 10px;
}
body {
  font-family: "Geomanist", sans-serif;
  color: var(--on-background);
  background-color: var(--background);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%230e7064' fill-opacity='0.3'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h1 {
  font-size: 6rem;
}
h2, .sub-heading{
    color: var(--on-background-alt);
    font-size: 3rem;
    text-align: center;
}
.nav-list{
    display: flex;
    li{
        list-style:none;
        margin: 0 2rem;
        a{
            text-decoration: none;
            font-size: 2rem;
            color: var(--primary-color);
        }
    }
}
a{
    text-decoration: none;
    border-bottom: 3px solid transparent;
    font-weight: bold;
}
a:hover,
a:focus {
  color: var(--on-background);
  border-bottom: 3px solid;
}

#nav{
    padding: 2rem 2rem;
    z-index: 10;
    width: 90%;
    position: fixed;
    display: flex;
    justify-content: space-between;
}
/*Section 2 :: About Section */
.about-container{
    display: flex;
    margin: 0 auto;
    max-width: 90%;
}
.card{
    // height: 350px;
    max-width: 300px;
    background-color: #F1F2F5;
    margin: 4rem 4rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 7px;
    box-shadow: 0 3px 0 rgba(84,94,111,0.2);
}
@media(max-width:900px){
    .about-container{
        display: flex;
        flex-direction: column;
    }
}
.image-container{
    background-color: white;
    border-radius: 7px;
}
.card img{
    width: 50%;
    display: block;
    margin: 1rem auto;
}
.image-title{
    padding: 30px;
    h3{
        font-size: 2.5rem;
    }
    p{
        font-size: 1.5rem;
    }
}

/*Projects section*/
.buttons {
    margin-top: 15px;
    margin-bottom: 50px;
  }
  
  button {
    min-width: 100px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    margin-right: 10px;
    border: 2px solid var(--primary-color);
    font-size: 15px;
    outline: none;
    box-shadow: 0 3px 0 rgba(84,94,111,0.2);
  }
  
  button:disabled {
    opacity: 0.4;
    cursor: default;
  }
  
  button:hover:not(.outline) {
    filter: brightness(110%);
  }
  
  .primary {
    background: var(--primary-color);
    color: var(--on-primary);
  }
  
  .secondary {
    border: 2px solid var(--secondary-color);
  }
  
  .secondary,
  .secondary:hover,
  .outline.secondary:hover {
    background: var(--secondary-color);
    color: var(--on-primary);
  }
  
  .outline {
    background: var(--background);
    color: var(--on-background);
  }
  
  .outline:hover {
    background: var(--primary-color);
    color: var(--on-primary);
  }
  
  .text-box {
    width: 40%;
    text-align: justify;
    background: rgba(0, 0, 0, 0.5);
    color: var(--on-primary);
    border-radius: 10px;
    padding: 30px;
  }
  
  p {
    margin: 0;
    line-height: 25px;
    font-family: Geomanist-light;
    font-size: 2rem;
    font-weight: 100;
    font-style: normal;
  }

.icon-list{
    display: flex;
    list-style: none;
    .icon{
        margin: 0 2rem;
        background-color:#F1F2F5 ;
        border-radius: 50%;
        i{
            font-size: 4rem;
            width: 100%;
            padding: 2rem;
            color: black;
            cursor: pointer;
        }
        .fab{
            color: var(--primary-color);
        }
        .fab:hover{
            color: var(--on-background);
        }
    }
} 
.theme-switch-wrapper {
    display: flex;
    align-items: center;
    z-index: 100;
    position: fixed;
    right: 25px;
    top: 30px;
  }
  
.theme-switch-wrapper span {
    margin-right: 10px;
    font-size: 2rem;
  }
  
  .toggle-text {
    position: relative;
    top: -4px;
    right: 5px;
    font-size: 2rem;
    color: var(--on-background);
  }
  
  .theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
  }
  
  .theme-switch input {
    display: none;
  }
  
  .slider {
    background: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.4s;
  }
  
  .slider::before {
    background: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: 0.4s;
    width: 26px;
  }
  
  input:checked + .slider {
    background: var(--primary-color);
  }
  
  input:checked + .slider::before {
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round::before {
    border-radius: 50%;
  }
  
  .fas {
    font-size: 30px;
    margin-right: 5px;
  }