/*Section 2 : About Me*/
/*Color #131231*/
.section-2 {
  // background: url(../../../hamburger-menu/assets/img/color-shape.png);
  background-color: white;
  height: auto;
  padding-bottom: 2rem;
}
.section-title-about{
  text-align: center;
  padding: 5rem;
  font-size: 4rem;
}
.section-2 {
  .card {
    background-color: #eee;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 0.4fr 0.6fr;
    padding: 2rem;
  }

  .box-image {
    display: flex;
    align-items: center;
    flex: 1;
    img {
      width: 60%;
      border-radius: 15px;
      display: block;
      margin: 3rem auto;
    }
  }
  .box-text {
    flex: 2;
    line-height: 1.7;
    .text-content-about {
      color: #737c8a;
      font-size: 2rem;
      p {
        padding: 3rem;
      }
    }
  }
  .button-row {
    display: flex;
    justify-content: center;
    padding: 2rem;
    .btn{
      padding: 0.8rem 3rem;
    }
  }
}
.about-heading-row {
  h1 {
    font-family: 'Geomanist',sans-serif;
    font-size: 4rem;
    color: #545e6f;
    text-align: center;
  }
}
.tech-stacks{
  margin: 1rem 0;
}
.tech-stacks ul{
  display: flex;
  // justify-content: center;
  flex-wrap: wrap;
  width: 95%;
  margin: auto;
}
.tech-stacks ul li{
  display: block;
  // color: white;
  color: black;
  font-size: 1.3rem;
  // background-color:#151433;
  background-color: #d6d6d6;
  margin: 0.3rem auto;
  padding: 0.3rem 1.4rem;
  border-radius: 12px;
  img{
    width: 1.3rem;
    display:inline-block;
    background-color: white;
  }
}