/*Section 2 : About Me*/
/*Color #131231*/
.section-2 {
  // background: url(../../../hamburger-menu/assets/img/color-shape.png);
  background-color: #F1F2F5;
  height: auto;
  padding-bottom: 2rem;
}
.section-title-about{
  text-align: center;
  padding: 5rem;
  font-size: 4rem;
}
.section-2 {
  .card {
    height: 100%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 0.4fr 0.6fr;
    padding: 2rem;
  }

  .box-image {
    // background-color: lightcyan;
    display: flex;
    align-items: center;
    flex: 1;
    img {
      width: 60%;
      border-radius: 15px;
      display: block;
      margin: 3rem auto;
    }
  }
  .box-text {
    flex: 2;
    line-height: 1.7;
    background-color: lightcoral;
    .text-content-about {
      color: #737c8a;
      font-size: 2rem;
      p {
        padding: 3rem;
      }
    }
  }
  .button-row {
    // background-color: cyan;
    display: flex;
    justify-content: center;
    
  }
}
.about-heading-row {
  height: 8rem;
  background-color: lightgreen;
  h1 {
    font-family: 'Geomanist',sans-serif;
    font-size: 5rem;
    color: #545e6f;
    text-align: center;
  }
}
