/*Color Palettle
1. #F1F3F5*/
.section5{
    display: grid;
    grid-template-rows: 12rem auto;
    grid-template-columns: 1fr;
    background-color: #F1F3F5;
    background-color: #f0f0f1;
    height: auto;
    padding-bottom: 7rem;
}
.contact-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 7rem;
}
.form-container{
    background-color: #fff;
    box-shadow: 0 3px 0 rgba(84,94,111,0.2);
    border-radius: 15px;
    margin: 7rem 7rem;
    // height: 700px;
    width: 80%;
    display: flex;
    flex-direction: column;
}
.form-container{
        form{
           margin: 2rem 4rem;
        }
}
.form-label{
    color: #545e6f;
    font-size: 1.7rem;
    display: block;
    margin-top: 3rem;
    
}
.form-input{
    color: #545e6f;
    
    border: 0;
    font-family: 'Geomanist',sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    color: #545e6f;
    width: 100%;
    outline: none;
    border-radius: 5px;
    padding: 0 14px;
    box-shadow: inset 0 2px 0 rgba(84,94,111,.2);
    background: #f8f9f9;
    height: 42px;
}
.text-area{
    height: 12rem;
    resize: none;
    line-height: 16px;
    padding-top: 14px;
    padding-bottom: 14px;
}
.form-submit{
    margin-top: 2rem;
}
.social-media-container{
    display: flex;
    flex-direction: column;
    align-items: center;    
    margin-top: 7rem;
    h1{
        font-size: 1.9rem;
        margin: 2rem 0;
    }
}
.social-media{
    display: flex;
    .card{
        margin: 0 3rem;
        padding: 1rem;
        cursor: pointer;
        transition: transform .2s ease-in-out;
        // background-color: #C13584;
        i{
            font-size: 2rem;
            color: white;
        }
        
    }
}
.card:hover{
    transform: translate(0,-2px);
}
.github-card{
    background-color: #211F1F;
}
.instagram-card{
    background-color: #C13584;
}
.linkedin-card{
    background-color: #0077B5;
}
.twitter-card{
    background-color: #1DA1F2;
}