.footer-container{
    text-align: center;
    padding: 3rem;
    background-color: #131231;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    p,i{
        color: white;
        font-size: 1.7rem;
    }
    
}